body {
  background: url("background.jpg");
  color: #444343;
  margin-top: 8px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 8px;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-family: "Bungee Shade", cursive;
  font-size: 100px;
  color: #008487;
  font-weight: 500;
}
.weather {
  text-align: center;
  font-family: "Bungee Shade", cursive;
  font-size: 100px;
  color: #d04904;
  font-weight: 500;
}
h3 {
  color: black;
  font-family: "Bungee Hairline", cursive;
  font-size: 40px;
}
.container {
  margin: auto;
  background: #fff;
  max-width: 1000px;
  padding: 40px;
  border-radius: 30px;
}
.search {
  text-align: center;
  border-radius: 10px;
  font-size: 22px;
}
.weather-container {
  color: rgb(54, 53, 53);
  font-family: "Bungee", cursive;
  font-size: 50px;
  font-weight: 500;
  margin: 5px auto;
  background: white;
  max-width: 950px;
  max-height: 330px;
  padding: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(158, 152, 152);
  border-width: 1px 1px 1px 1px;
}
.location {
  color: red;
}
.weather-text {
  font-family: "Bungee Hairline", cursive;
  color: rgb(54, 53, 53);
  font-size: 35px;
  margin: -25px;
  text-align: center;
}
.weather-text-2 {
  font-family: "Bungee Hairline", cursive;
  color: rgb(54, 53, 53);
  font-size: 17px;
  text-align: center;
}
.col {
  font-family: "Bungee", cursive;
  font-size: 35px;
  color: #dca31a;
}
.weekly-container {
  color: #dca31a;
  font-family: "Bungee", cursive;
  font-size: 10px;
  font-weight: 500;
  margin: 20px auto;
  background: white;
  max-width: 950px;
  padding: 20px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(158, 152, 152);
  border-width: 1px 1px 1px 1px;
}
.day-name {
  color: #d04904;
  font-size: 20px;
  text-align: center;
}
p {
  color: #d04904;
  font-size: 30px;
  text-align: center;
  margin: -30px;
}
.vertical {
  border-left: 0.5px solid rgb(53, 53, 53);
  height: 140px;
  position: absolute;
  left: 50%;
}
.units {
  position: relative;
  font-size: 29px;
  top: -35px;
  font-family: "Bungee Hairline", cursive;
}
.units .active {
  text-decoration: none;
  color: rgb(53, 53, 53);
  cursor: default;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #d04904;
}
.wind-humidity {
  color: #444343;
  font-family: "Bungee Hairline", cursive;
  font-size: 40px;
}
.fa-droplet {
  color: #dca31a;
}
.fa-wind {
  color: #dca31a;
}
.main-temps {
  font-size: 75px;
  font-family: "Bungee", cursive;
  color: #dca31a;
}
footer {
  text-align: center;
  font-size: 10px;
}
.forecast-max {
  font-size: 20px;
  color: #dca31a;
}
.forecast-min {
  font-size: 20px;
  opacity: 0.5;
  color: #dca31a;
}
